*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}
.title {
  padding: 50px;
  text-transform: uppercase;
  font-family: system-ui, sans-serif;
  font-size: 200%;
  text-align: center;

}

.container{
	width: 100%;
	margin: 0 auto;

}

.container > h1 {
  margin: 30px 0;
  font-family: sans-serif;
  font-size: 1.4em;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
}


.preview {
	width: 100%;
	height: 350px;
	background-size: cover;
	background-position: left;
  margin-bottom: 20px;

}

.preview h1 {
  font-size: 2.4em;
  padding: 10%;
  text-align: left;
}

.baku{
	background-image: url(../images/baku.jpg);
}

.rome{
	background-image: url(../images/rome.jpg);
}

.london{
	background-image: url(../images/london.png);
}

.madrid{
	background-image: url(../images/madrid.jpg);

}

@media (min-width: 600px) {
  .container {
    width: 80%;
  }

  .preview {
    float: right;
    height: 200px;
    margin: 1% 1%;
    width: 48%;
  }


@media (min-width: 900px) {
  .container {
    width: 70%;
  }

  .preview {
    float: left;
    height: 200px;
    margin: 1% 1%;
    width: 23%;
  }
}
